<!-- <ion-content padding> -->
<div>
    <ion-row>
        <ion-col col-12 style="text-align: center; font-size: 2rem;">
            <b>Add POI</b>&nbsp;&nbsp;&nbsp;
            <ion-icon class="close-button" id="close-button" name="close-circle" (tap)="dismiss()"></ion-icon>
        </ion-col>
        <!-- <ion-col col-2 style="text-align: right">
                <ion-icon class="close-button" id="close-button" name="close-circle" (tap)="dismiss()"></ion-icon>
            </ion-col> -->
    </ion-row><br />
    <!-- <p style="text-align: center; font-size: 2rem;">
            <b>Add POI&nbsp;&nbsp;<ion-icon class="close-button" id="close-button" name="close-circle"
                (tap)="dismiss()"></ion-icon></b>
        </p><br /> -->
    <ion-row>
        <ion-col col-12><b>POI Name:</b></ion-col>
        <ion-col col-12>
            <ion-input type="text" [(ngModel)]="poi_name"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12><b>POI Address:</b></ion-col>
        <ion-col col-12>
            <ion-input type="text" [(ngModel)]="address"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <button ion-button block (tap)="save()" color="gpsc">SAVE</button>
        </ion-col>
        <ion-col col-6>
            <button ion-button block (tap)="dismiss()" color="gpsc">CANCEL</button>
        </ion-col>
    </ion-row>
</div>
<!-- </ion-content> -->